body, html {
    width: 100%;
    height: 100%;
}


.filter {
    text-align: center; 
    margin-top: 75px;
    margin-bottom: 75px;
}

.filter select {
    width: 200px    ;
    height: 35px;
}

#submit-filter {
    width: 150px;
    height: 35px;
}

.map-container {
    border: 3   px solid black;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    padding: 25px;
}

#map {
    border: 1px solid red;
    width: 100%;
    height: 500px;
}