.group-container {
    text-align: center;
    padding: 35px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#list-head {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 50px;
}

#group-header {
    margin-bottom: 45px;
}