.group-container {
	/*border: 1px solid red;*/
	text-align: center;
	padding: 35px;
}

ul {
	list-style-type: none;
	padding: 0;
}

#list-head {
	font-weight: bold;
	font-size: 16px;
}

#group-header {
	margin-bottom: 45px;
}